<form #f="ngForm">
    <input type="hidden" [(ngModel)]="user.id" name="id" id="id">
    <div class="form-group">
        <label class="form-label" for="firstName">First Name</label>
        <input class="form-control" [(ngModel)]="user.name" name="firstName" id="firstName" type="text">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control"  [(ngModel)]="user.lastName"  name="lastName" id="lastName" type="text">
    </div>
    <div class="form-group">
        <label for="fiscalCode">Fiscal Code</label>
        <input class="form-control" [(ngModel)]="user.fiscalCode"  name="fiscalCode" id="fiscalCode " type="text">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" [(ngModel)]="user.email" type="email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" [(ngModel)]="user.phone" name="phone" id="phone" type="number">
    </div>
    <div class="form-group">
        <label for="province">Province</label>
        <input class="form-control" [(ngModel)]="user.province" name="province" id="province" type="text">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" [(ngModel)]="user.age" type="number" name="age" id="age">
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
            <a class="btn btn-lg btn-primary w-50" [routerLink]="['/users']" >BACK TO USERS</a> 
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-outline-secondary w-50" (click)="resetForm(f.value)">Reset</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-success w-50" (click)="saveUser()">Save</a>
        </div>
    </div>
</form>