<form #f="ngForm">
    <input type="hidden" [(ngModel)]="user.id" name="id" id="id">
    <!-- FIRST NAME - LAST NAME -->
    <div class="row mt-4">
        <div class="col-sm-6">
            <label class="form-label" for="firstName">First Name</label>
            <input required pattern="[a-zA-Z]*" minlength="3" #firstname="ngModel" placeholder="firstname" class="form-control" [(ngModel)]="user.name" name="firstName" id="firstName" type="text">
            <div *ngIf="firstname.dirty && firstname.touched && firstname.invalid">
                <div *ngIf="firstname?.errors?.['required']"  class="alert alert-danger" role="alert">
                    The field first name is required
                </div>
                <div *ngIf="firstname?.errors?.['minlength']" class="alert alert-danger" role="alert">
                    The field firstname minimum length is {{firstname?.errors?.['minlength'].requiredLength}}
                </div>
                <div *ngIf="firstname?.errors?.['pattern']" class="alert alert-danger" role="alert">
                    The field firstname pattern is {{firstname.errors?.['pattern'].requiredPattern}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label  class="form-label" for="lastName">Last Name</label>
            <input class="form-control"  [(ngModel)]="user.lastName"  name="lastName" id="lastName" type="text">
        </div>
    </div>
    <!-- FISCAL CODE - PHONE -->
    <div class="row mt-4">
        <div class="col-sm-6">
            <label for="fiscalCode">Fiscal Code</label>
            <input class="form-control" [(ngModel)]="user.fiscalCode"  name="fiscalCode" id="fiscalCode " type="text">
        </div>
        <div class="col-sm-6">
            <label for="phone">Phone</label>
            <input class="form-control" [(ngModel)]="user.phone" name="phone" id="phone" type="number">
        </div>
    </div>
    <!-- EMAIL - AGE -->
    <div class="row mt-4">
        <div class="col-sm-6">
            <label for="email">Email</label>
            <input class="form-control" [(ngModel)]="user.email" type="email" name="email" id="email">
        </div>
        <div class="col-sm-6">
            <label for="age">Age</label>
            <input #age="ngModel" required minlength="2" pattern="[0-9]{2-3}" class="form-control" [(ngModel)]="user.age" type="number" name="age" id="age">
        </div>
        <div *ngIf="age.dirty && age.touched && age.invalid">
            <div *ngIf="age?.errors?.['required']"  class="alert alert-danger" role="alert">
                The field age is required
            </div>
            <div *ngIf="age?.errors?.['minlength']" class="alert alert-danger" role="alert">
                The field age minimum length is {{age?.errors?.['minlength'].requiredLength}}
            </div>
            <div *ngIf="age?.errors?.['pattern']" class="alert alert-danger" role="alert">
                The field age pattern is {{age.errors?.['pattern'].requiredPattern}}
            </div>
        </div>
    </div>
    <!-- PROVINCE -->
    <div class="row mt-4">
        <div class="col-sm-6">
            <label for="province">Province</label>
            <input class="form-control" [(ngModel)]="user.province" name="province" id="province" type="text">
        </div>
    </div>
    <!-- BUTTONS -->
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
            <a class="btn btn-lg btn-primary w-50" [routerLink]="['/users']" >BACK TO USERS</a> 
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-outline-secondary w-50" (click)="resetForm(f.value)">Reset</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-success w-50" (click)="saveUser()">Save</a>
        </div>
    </div>  
</form>