<td>{{user.name}}</td>
<td>{{user.lastName}}</td>
<td>{{user.fiscalCode}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.province}}</td>
<td>{{user.age}}</td>
<td>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-warning btn-sm w-50" [routerLink]="['/users', user.id]">
                <fa-icon [icon]="faInfo"></fa-icon></button>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-sm w-50" [routerLink]="['/users', user.id, 'edit']">
                <fa-icon [icon]="faPen"></fa-icon>
            </a>
        </div>
        
        <div class="col-sm-4">
            <button class="btn btn-danger btn-sm w-50" (click)="deleteUser()">
                <fa-icon [icon]="faTrash"></fa-icon></button>
        </div>
    </div>
</td>
